/node_modules
/public/hot
/public/media
/public/storage
/public/**/*.css
/public/**/*.js
/public/**/*.css.map
/public/**/*.js.map
/public/mix-manifest.json
/public/sitemap.xml
/storage/*.key
/storage/medialibrary/
/storage/app/analytics/
/vendor
/.vscode
/.vagrant
.DS_Store
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
sitemap.xml
yarn-error.log
.env
.phpunit.result.cache
.idea
